/* google fonts */

/* poppins */
@import url('https://fonts.googleapis.com/css2?family=Norican&family=Open+Sans&family=Poppins:wght@500&display=swap');

/* Roboto fonts */
@import url('https://fonts.googleapis.com/css2?family=Norican&family=Open+Sans&family=Poppins:wght@500&family=Roboto&display=swap');
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}
/* common styles or utilities */
body{
    font-family: 'Poppins', sans-serif;
    background-color: #F3F1FF;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container{
    background-color: #FFFFFF;
    margin-top: 36px;
    margin-bottom: 36px;
    width: 70%;
    padding: 33px;
    border-radius: 8px;


}


/* top players style */
.section-title{
    font-size: 24px;
    color: #562EFF;
    margin-bottom:40px;
}
.top-players{
    margin-bottom: 33px;
}

.players{
    display: grid;
    grid-row-gap: 30px;
    grid-template-columns: repeat(3, 1fr);
}

.player{
    display: flex;
    gap: 16px;
    /* margin-top: 40px; */
    align-items: center;
}

.player img{
    width: 56px;
}

.player-name{
    font-size: 18px;
    line-height: 27px;
}

hr{
    border: 1px solid #D1D1D1;
    margin-bottom: 33px;
}

/* Top Blogs styles */
.blogs{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 46px;
    grid-row-gap: 26px ;
}

.blog{
    display: flex;
}

.blog .thumbnail img{
    width: 177px;
}

.blog-info{
    margin-left: 16px;
}
.blog-title{
    font-size: 20px;
}

.blog-author{
    font-size: 16px;
    margin-top: 3px;
    color: #9F9F9F;
}

.blog-author a{
    font-size: 16px;
    color: #562EFF;
}

/* ------------------
    Courses Styles
--------------------- */
.courses{
    display: grid;
    grid-column-gap: 35px;
    grid-template-columns: repeat(3, 1fr);
}

.course{
    width: 100%;
    color: whitesmoke;
    padding: 14px;
    /* border: 1px solid; */
    border-radius: 12px;
    /* filter: drop-shadow(0px 5.34229px 13.3557px rgba(0, 0, 0, 0.05)); */
    box-shadow: 1px 7px 10px 5px rgba(0, 0, 0, 0.05) ;
}


.course .course-banner img{
    width: 100%;
}

.course-title{
    color: #1E1E1E;
    font-size: 20px;
    font-weight: 500;
}
.course-info{
    display: flex;
    justify-content: space-between;
}

.course-author a{
    color: #ED6B4F;
    font-size: 13px;
    font-weight: 400;
    font-family: 'roboto', sans-serif;
}


.fa-star.filled{
    font-size: 12px;
    color: #FFC014;
}

.fa-star-half.empty{
    font-size: 12px;
    /* color: #AEAEAE; */
    color: #FFC014;
}

.course-rating{
    font-weight: 400;
    font-size: 13px;
    color:#A2A2A2;
    margin-left: 10px;
}

.course-duration{
    font-size: 13px;
    font-weight: 600;
    color: #FF4A60;
    background: #FFE4E8;
    padding: 4px;
    border-radius: 14.6913px;
    border: 1px solid #FF4A60;
    
}

/* ----------------
    Media Queries
------------------- */

/* ----------------
    Mobile Devices
-------------------*/
@media only screen and (max-width:688px) {
    .container{
        margin-top: 20px;
        width: 90%;
    }
    .players, 
    .blogs,
    .courses{
        grid-template-columns: repeat(1, 1fr);
    }
    .blog{
        flex-direction: column;
    }
    .blog-info{
        margin-left: 0;
    }
}

/* ------------------
    Tablet Devices
--------------------- */
@media only screen and (min-width:689px) and (max-width:1024px) {
    .container{
        width: 90%;
    }

    .players, 
    .courses{
        grid-template-columns: repeat(2, 1fr);
        grid-row-gap: 30px;
    }
    .blog{
        flex-direction: column;
    }
    .blog-info{
        margin-left: 0;
    }
    
}
 /* ----------------------
    Tablet Devices Pro
------------------------- */
/* @media only screen and (min-width:801px) and (max-width:1024px) {
    .container{
        width: 90%;
    }

    .players, 
    .courses{
        grid-template-columns: repeat(2, 1fr);
        grid-row-gap: 30px;
    }
    .blog{
        flex-direction: column;
    }
    .blog-info{
        margin-left: 0;
    }
    
} */

